<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Comments</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container" id="container1">
     <div class="jumbotron" id="jumbo">	
      <h1><center>Enter Comment:</center></h1>
    </div>
  </div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>



