<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Comments</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'comments/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container" id="container1">
     <div class="jumbotron" id="jumbo1">	
      <h4><center>Enter Comment:</center></h4>
      <br>
      <center><p>Comments are saved in a mysql DB.</p></center>
      <div id="formdiv-comment" class="form-group">
        <!-- <center><form action="/comments/getcomment/" id="form-comment"  method="post"> -->
        <center><form  id="form-comment">  
          {% csrf_token %} 
           {{ form }}
         <button type="submit" id="button1" onclick="checkEmail()" class="btn btn-primary" value="Submit" >Submit</button>
         <p id="status">{{status}}</p>
       </form></center>
       </div>
    </div>
  </div>
<script src="{% static 'comments/app.js' %}"></script>  
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>



